---
import PlayerProfileCard from '~/components/player-profile-card.astro';
import Layout from '~/layouts/page.astro';

const trainerBackgroundColor = '#1C4586'

const ersteMannschaft = [
  'sylvester0-0', 'richard0-0', 'ahmed0-0', 'jarne0-0', 'yannik0-0',
  'patrick0-0', 'luis0-0', 'sascha0-0', 'robin0-0', 'heiko0-0',
  'andre0-0', 'martha0-0', 'mike0-0', 'sven1-0', 'patrick1-0',
];
---

<Layout content={{title: "1. Mannschaft"}}>
  <div class="flex flex-wrap mx-auto max-w-7xl">
    <!-- Trainer Section -->
    <div class="w-full sm:w-1/3 md:w-1/4 lg:w-1/3">
      <p class="text-3xl font-bold text-center whitespace-nowrap mb-2">Spieler-Trainer</p>
      <div class="grid grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 gap-4">
        <PlayerProfileCard playerId="linda0-0" background={trainerBackgroundColor} />
        <PlayerProfileCard playerId="jill0-0" background={trainerBackgroundColor} />
        <PlayerProfileCard playerId="sven0-0" background={trainerBackgroundColor} />
      </div>
    </div>
  
    <!-- Players Section -->
    <div class="w-full sm:w-2/3 md:w-3/4 lg:w-2/3">
      <p class="text-3xl font-bold text-center whitespace-nowrap mb-2">Spieler</p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {ersteMannschaft.map((playerId) => (
          <PlayerProfileCard playerId={playerId} />
        ))}
      </div>
    </div>
  </div>
</Layout>
