---
import Layout from '~/layouts/page.astro';

import { getEntry } from 'astro:content';
import PersonCard from '~/components/person-card.astro'
import IFrameCard from '~/components/iframe-card.astro'
import ContactForm from '~/components/contact-form.html'

const sven = (await getEntry('people', 'sven0-0'))?.data;
const patrick = (await getEntry('people', 'patrick0-0'))?.data;
const jill = (await getEntry('people', 'jill0-0'))?.data;
---



<Layout content={{title: "Kontakt"}}>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
<div class="col-span-1">

<h4>Schreibe uns eine E-Mail an <a href="mailto:info@basketbears.de">info@basket bears.de</a></h4>

<ContactForm />
</div>

<div class="col-span-1">

<h4>Adresse</h4>
Bischöfliche Maria-Montessori-Gesamtschule  
Minkweg 26  
47803 Krefeld

Anfahrt über den Lehrerparkplatz am Winnertzweg

<IFrameCard
  soruce="www.google.com/maps"
  style="margin-bottom: 1.5rem"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1222.348415811071!2d6.566084309736889!3d51.35671255779808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8a5347dd1eb77%3A0x17eb52220250277!2sWinnertzweg%2019%2C%2047803%20Krefeld!5e1!3m2!1sde!2sde!4v1670334324411!5m2!1sde!2sde"
  height="660"
/>

</div>
<div class="col-span-1" style="margin-bottom: -1rem">

<h4>Weitere Kontakte</h4>

</div>

<div class="col-span-1">

<PersonCard
  title="Sportliche Leitung"
  name="Sven Kaiser"
  email="sven.kaiser@basketbears.de"
  emailText="sven.kaiser&ZeroWidthSpace;@basketbears.de"
  image={sven.profileImage}
/>

</div>
<div class="col-span-1">

<PersonCard
  title="2. Vorsitzender"
  name="Patrick Weirauch"
  email="patrick.weirauch@basketbears.de"
  emailText="patrick.weirauch&ZeroWidthSpace;@basketbears.de"
  image={patrick.profileImage}
/>

</div>
<div class="col-span-1">

<PersonCard
  title="Vertreterin für Menschen mit Behinderung"
  name="Jill Kaiser-Föhles"
  email="jill.kaiser-foehles@basketbears.de"
  emailText="jill.kaiser-foehles&ZeroWidthSpace;@basketbears.de"
  image={jill.profileImage}
/>


</div>
</div>
</Layout>
