<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/jugend">Jugend</a></li>
  <li><a href="/erstemannschaft">1. Mannschaft</a></li>
  <li><a href="/erstemannschaft/team">- Das team</a></li>
  <li><a href="/erstemannschaft/ligabetrieb">- Ligabetrieb</a></li>
  <li><a href="/verein">Verein</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/kontakt">Kontak</a></li>
  <li><a href="/partner">Partner</a></li>
</ul>

